/**
 * General stylesheet for all pages. Style settings for individual pages should be put in
 * separate stylesheets, added below style.css link in html head.
 */
body {
	min-width: 375px;
	min-height: 100%;
	width: 100%;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 52px;
	padding: 5px;
}
h1 {
	font-family: "Georgia", Times, serif;
	font-size: 1.5em;
	text-align: center;
	margin: 10px;
}
h2 {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 1em;
	text-align: center;
	margin: 10px;
}
h3 {
	font-size: 1em;
	margin: 20px;
}
p {
	margin: 4px;
	font-size: 52px;
}
#main {
	display: block;
	text-align: left;
	min-width: 375px;
	width: 90%;
	height: 80%;
	margin-top: 180px;
	margin-left: 40px;
	margin-right: 40px;
}
#navbar {
	position: fixed;
	text-align: center;
	margin: auto;
	width: 100%;
	min-width: 375px;
	height: 170px;
	top: 0px;
	z-index: 1;
	top: 0;
	display: block;
	background-color: #FFFFFF;
}
.link {
	cursor: pointer;
}
#head-table {
	table-layout: fixed;
	text-align: center;
	width: 90%;
	height: 135px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
td {
	vertical-align: bottom;
}
#td-left {
	min-width: 80px;
	width: 20%;
	text-align: left;
}
#td-mid {
	min-width: 200px;
	width: 60%;
	text-align: center;
}
#td-right {
	min-width: 80px;
	width: 20%;
	text-align: center;
}
#main-menu {
	min-width: 180px;
	width: 80%;
	margin: auto;
}
.dropdown {
	position: relative;
	cursor: pointer;
}
.selector {
	margin: auto;
	padding: 5px;
	height: auto;
}
#select-header {
	text-align: center;
	font-size: 36px;
	margin: 0px;
	padding: 2px;
	font-weight: 600;
	font-family: "Georgia", Times, serif;
}
#main-select {
	border: 1px #666666 solid;
	border-radius: 8px;
	vertical-align: middle;
	height: 56px;
	overflow: hidden;
}
p.select-txt {
	display: inline-block;
	width: 70%;
	overflow: hidden;
}
img.select-icon {
	display: inline;
	position: absolute;
	height: 50%;
	min-height: 20px;
	top: 25%;
	right: 12px;
}
#settings-icon {
	height: 20px;
}
.drop-menu {
	display: none;
	position: absolute;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px #999999 solid;
	border-radius: 8px;
	z-index: 2;
}
.drop-option {
	border-bottom: 1px #999999 solid;
	padding: 10px;
}
#settings {
	font-size: 42px;
	width: 100%;
}
#shadow {
	position: relative;
	margin-bottom: 0px;
	width: 100%;
	height: 5px;
	margin-left: -20px;
	margin-right: -20px;
	background-color: #333333;
	background: -webkit-linear-gradient(#666666, #FFFFFF);
}
div.center-menu {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
}
div.center-option {
	border-bottom: 1px #888888 solid;
	min-width: 350px;
	width: 80%;
	min-height: 100px;
	margin: auto;
	margin-top: 5px;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	padding: 20px;
}
p.center-txt {
	display: inline-block;
	padding: 12px;
	text-align: center;
	font-size: 76px;
}
img.arrow-icon {
	display: inline;
	position: relative;
	bottom: 25%;
	min-height: 50px;
	height: 50%;
}
#center-table-div {
	text-align: center;
}
#center-table {
	margin: auto;
	width: 80%;
	text-align: center;
}
#center-table td {
	width: 50%;
	border-bottom: 1px #999999 solid;
	padding: 10px;
}
form.main-form {
	width: 90%;
}
input {
	font-size: 52px;
	text-indent: 10px;
	border: 1px #999999 solid;
	border-radius: 8px;
	margin: 20px;
}
input.solo-input {
	height: 100px;
	width: 80%;
	font-size: 88px;
	font-weight: 200;
	border: none;
	border-bottom: 2px #999999 solid;
	border-radius: 0px;
	margin-bottom: 60px;
}
div.submit-button {
	margin: auto;
	text-align: center;
	font-size: 68px;
	font-weight: 600;
	height: 80px;
	width: 300px;
	background-color: #666666;
	color: #FFFFFF;
	border-radius: 8px;
	cursor: pointer;
}
textarea {
	resize: none;
	width: 90%;
	height: 200px;
	font-size: 48px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	text-indent: 10px;
	border: 1px #999999 solid;
	border-radius: 8px;
}
p.alerter {
	font-size: 36px;
	color: #FF0000;
	font-weight: 600;
	display: none;
}
footer {
	bottom: 0px;
	height: 10px;
}
