.center {
    text-align: center;
    margin-top:20px;
}

select {
    display: inline-block;
    width: 100%;
    max-width:90%;
    font-size: 34px;
    text-align: center;
}

/*drop down menue and content*/
.dropbtn {
    padding: 16px;
    font-size: 1em;
    cursor: pointer;
}


.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:300%;
    overflow: auto;
    right: 0;
    z-index: 1;
        text-align: center;

}

.dropdown-content a {
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    border-bottom: solid line black;

}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
a {
    text-decoration: none !important;
    text-decoration-color: black;
}
/***************************/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    text-align: center;
    padding: 8px;
    font-size: 3em;
    border-bottom: 1px solid black
}

tr:nth-child(even) {
    background-color: #ffffff;
}
.continer{
    width:100%;
    position:relative;
    padding: 2px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 900px){
	.classBlock{
	padding: 10px;
	font-size: 2em;
	width: 100%;

	}
    .row_block{
        float:left;
        display: block;
        max-width:30%;
        max-height:100%;
        width: auto;
        height: auto;

    }
    }
    .row{
        width:100%;
        position:relative;
        height: 10%;
        padding:1px;
        border-bottom: 1px solid black;
        display: inline-block;

    }
    .info{
        font-size:42px;
        text-align: center;
        position: relative;
        width:30%;
        padding:70px;


    }
    .btn_block{
        position: relative;
        float:left;
        width: 10%;
        height: auto;
        display: block; 
        margin-left:  5px;
        padding-top:70px;
    }
    .appt_btn{

        position:relative;
        background-color: gray;
        font-size: 30px;
        height:200px;
        width:200px;
        border-radius: 50%;

    }


}

@media only screen  and (min-width : 1224px){
	.classBlock{
		padding: 10px;
		width:100%;
		font-size: 4em;
		background-color: #dddddd
	}
	.classBlock:hover{
		background-color: #f2f2f2;
		font-size: 3.4em;
	}
}

.classBlock:hover{
	background-color: #f2f2f2;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.centerBox {
    position:relative;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 20px;
    margin-top:30px;
    
    
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

    .action{
        float:left;
        cursor: pointer;
        border-radius: 15px;
        font-size: 16px;
    }
    .remove{
        background-color:red;
        border:none;
        color:white;
    }
    .modify{
        background-color:white;
        color:black;
        border-color:black;
        shadow:none;
    }
    .action:hover {
        background-color: gray;
    }

    .action:active {
        background-color: light gray;
        transform: translateY(4px);
    }
input[type=text], input[type=number],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number]{
    font-size: 32px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


